{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>
    <p>Page you requested could not be found. Please try again.</p>
{% endblock %}