{% extends '::base.html.twig' %}

{% block body %}
    <h2 class="ui aligned header">Your tasks list</h2>
    <p class="ui aligned">Below you will find your unfinished tasks</p>

    <table class="ui blue table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Notes</th>
            <th>Tags</th>
            <th>Due</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.notes }}</td>
                <td>
                    {% for tag in task.tags %}
                        <span class="ui tag label">{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    {{ task.dueDate is empty ? "" : task.dueDate|date('Y-m-d') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="center aligned">
                    <h2>There are no unfinished tasks at the moment. Good Job!</h2>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
